<div class="content-container">
  <div class="content">
    <div class="media-body">
      <h5 class="mt-0">{{ materialType.title }}</h5>
      <div *ngFor="let material of materialType.list">
        <a
          href="assets/PDF/{{ materialType.title | lowercase }}/{{
            material.name
          }}.pdf"
          target="assets/PDF/{{ materialType.title | lowercase }}/{{
            material.name
          }}.pdf"
          >{{ material.name }}</a
        >
      </div>
      <div class="content-imageBox" *ngIf="materialType.images.length > 0">
        <div *ngFor="let materialImage of materialType.images">
          <img
            class="content-image"
            src="assets/img/material-type-examples/{{ materialImage }}.jpg"
            height="100"
          />
        </div>
      </div>
    </div>
  </div>
</div>
