<div class="d-flex justify-content-between header p-3">
  <div class="disabled-if-mobile">
    <img
      src="assets/img/nalepka-bok-zadna-159x54-1.png"
      alt="GUMON"
      height="200"
    />
  </div>
  <div class="disabled-if-mobile">
    <img
      src="assets/img/nalepka-bok-predna-124x54-1.png"
      alt="Electroizolacne materialy pre electromotory a trasformatory"
      height="200"
    />
  </div>
  <div class="disabled-if-wide">
    <img
      src="assets/img/vizitka-1.png"
      alt="Electroizolacne materialy pre electromotory a trasformatory"
      height="200"
    />
  </div>
</div>
