<div class="contact-container">
  <br />Kontakty : Sídlo firmy a korešpondenčná adresa : Pluhová 14, 831 03
  Bratislava<br />
  <br />
  Prevádzka : Zátišie 2, 831 03 Bratislava <br />
  <br />
  Riaditeľ spoločnosti : Hudec Daniel hudec@gumon.eu <br />
  <br />
  Technické poradenstvo a predaj : Berecová Gabriela berecová@gumon.eu <br />
  <br />
  Obchod : info@gumon.eu www.gumon.eu <br />
  <br />
  IČO : 53 123 646 <br />
  <br />
  DIČ : SK2121310565<br />
  <br />
</div>
