<mat-card>
  <form>
    <mat-form-field>19/06/2020 </mat-form-field>
    <mat-form-field class="content-area">
      <textarea
        matInput
        matTextareaAutosize
        formControlName="content"
        placeholder="content"
        disabled
      >
      You should see the material slider component on the page.

      In addition to the install schematic, Angular Material comes with several schematics (like nav, table, address-form,
      etc.) that can be used to easily generate pre-built components in your application.</textarea
      >
    </mat-form-field>
  </form>
</mat-card>
