<div *ngFor="let news of newsList">
  <mat-card>
    <div *ngIf="adminMode">
      <form>
        <textarea
          matInput
          formControlName="content"
          placeholder="content"
        ></textarea>
        <textarea
          matInput
          formControlName="content"
          placeholder="content"
        ></textarea>
      </form>
    </div>
    <div *ngIf="!adminMode">
      <div class="content-area">{{ news.date }}</div>
      <div class="content-area">{{ news.content }}</div>
    </div>
  </mat-card>
</div>

<!--       <mat-form-field matInput formControlName="content">{{
              news.date
            }}</mat-form-field>
      <mat-form-field matInput class="content-area">
        <textarea matInput placeholder="content" matTextareaAutosize formControlName="content" disabled *ngIf="adminMode">
              {{ news.content }}
            </textarea>
        <div>
          {{ news.content }}
        </div>
      </mat-form-field> -->
